.catalog__tech {
  width: 100%;
  height: max-content;

  padding: 70px 0;
  background: #e5e5e5;
  font-family: "Montserrat";
}

.catalog__tech__label {
  font-weight: 700;
  font-size: 40px;
  color: #2d2d2d;
}

.catalog__tech__container {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.catalog__tech__slider {
  cursor: pointer;
  padding: 0px;
}

.catalog__tech__container span {
  border: 2px solid #fcb427;
  color: #2d2d2d;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: center;
  padding-bottom: 5px;
}

.slick-next,
.slick-prev {
  display: none !important;
}

.slider__card {
  width: 350px !important;
  height: 590px;

  margin: 0 200px;
  background: #fff;
  font-family: "Montserrat";
}

.slider__card__twink {
  display: flex;
  gap: 10px;
}

.slider__card img {
  height: 299px;
  width: 100%;
  object-fit: cover;
}

.card__body h2 {
  height: 90px;

  font-family: "Montserrat";
  padding: 0 35px;
  padding-top: 10px;
  border-bottom: 2px solid #fcd12780;
  color: #2d2d2d;
  font-size: 25px;
}

.slider__card__twink {
  padding: 10px 35px;
}

.slider__card__twink p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  color: #2d2d2d;
}

.slider__card__btn {
  text-align: center;
}

.slider__card__btn button {
  width: 100%;
  height: 50px;
  background: #fcb427;
  margin: 34px 0;
  color: #fff;
  border: 2px solid #fcb427;
  font-size: 18px;
  font-weight: 700;
}
.slider__card__btn button:active {
  background: #fff;
  color: #fcb427;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.slick-dots li.slick-active button:before {
  color: #fcb427 !important;
}

@media all and (max-width: 1425px) {
  .catalog__tech__container {
    width: 100%;
    padding: 40px;
  }
  .catalog__tech__container span {
    display: none;
  }
  .catalog__tech {
    width: 100%;
    margin: auto;
    padding: 40px 0;
  }
  .slider__card {
    width: 320px !important;
    height: 590px;

    margin: 0;
    background: #fff;
    font-family: "Montserrat";
  }
  .card__body h2 {
    padding: 15px;
  }

  .slider__card__btn {
    text-align: start;
  }

  .slider__card__btn button {
    width: 170px;
    height: 50px;
    background: #fcb427;
    color: #fff;
    margin: 10px 20px;
    border: 2px solid #fcb427;
    font-size: 18px;
    font-weight: 700;
  }
  .slider__card__twink {
    padding: 10px 20px;
  }
}
@media all and (max-width: 1000px) {
  .slider__card {
    width: 100% !important;
    height: 590px;
    background: #fff;
    margin: 0;
    font-family: "Montserrat";
  }
  .catalog__tech {
    width: 100%;
    margin: auto;
    padding: 40px 20px;
  }
  .card__body h2 {
    font-size: 20px;
  }
  .card__body p {
    font-size: 14px;
  }
}

@media all and (max-width: 768px) {
  .catalog__tech {
    width: 100%;
    margin: auto;
    padding: 40px 0;
  }
  .slider__card {
    width: 100% !important;
    margin: 0 !important;
    height: 590px;
    background: #fff;
    font-family: "Montserrat";
  }
  .catalog__tech__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }
}

@media all and (max-width: 500px) {
  .catalog__tech {
    width: 100%;
    margin: auto;
    padding: 40px;
  }
  .card__body h2 {
    font-size: 20px;
  }
  .card__body p {
    font-size: 14px;
  }
  .slick-next,
  .slick-prev {
    display: block !important;
  }
  .slider__card img {
    width: 100% !important;
    object-fit: cover !important;
  }
  .slick-next:before, .slick-prev:before{
    color: #ffad09 !important;
  }
  .slider__card__btn button {
    width: 170px;
    height: 50px;
    background: #fcb427;
    color: #fff;
    margin: 20px;
    border: 2px solid #fcb427;
    font-size: 18px;
    font-weight: 700;
  }
  .catalog__tech__container {
    padding: 40px 0;
  }
  .catalog__tech__label{
    font-size: 25px;
  }
}
