.page__object__p  {
       font-weight: 400;
       font-size: 16px;
       color: #2d2d2d;
       line-height: 25.07px;
       padding: 40px 0;
}

.page__object__params__parent img {
       width: 100%;
       height: fit-content;
}

.small__params__images{
       display: grid;
       grid-template-columns: repeat(6,1fr);
       gap: 10px;
       padding-top: 20px;
}

.small__params__images img {
       width: 100%;
       height: 200px;
}


.btn__back{
       display: flex;
       justify-content: flex-end;
       padding: 40px 0;
}


.back__btn {
       width: 209px;
       height: 50px;
       background: #fcb427;
       border: 2px solid #fcb427;
       color: #fff;
       font-size: 18px;
       font-weight: 700;
}

.back__btn:hover{
       background: #fff;
       color: #fcb427;
}