.consultation {
  width: 100%;
  height: max-content;

  background: url("../../assets/images/mobikran.jpg") no-repeat center
    center/cover;
  font-family: "Montserrat";
  border-top: 47px solid #fcd127;
  border-bottom: 47px solid #fcd127;
  padding: 60px 0;
}

.consultation__container {
  width: 1180px;
  margin: auto;
}

.consultation__form {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.consultation__form form input {
  width: 370px;
  height: 60px;
}

.consultation__container h1 {
  font-weight: 700;
  font-size: 40px;
  color: #2d2d2d;
  padding-bottom: 40px;
}

.consul__tel {
  margin: 0 30px;
  padding-left: 20px;
  background: #ffffff;
  border: 1px solid #535554;
  padding-left: 20px;
}

.consul__name {
  padding-left: 20px;
  background: #ffffff;
  border: 1px solid #535554;
}

.consul__btn {
  background: #fcb427;
  border: #fcb427 2px solid;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.consul__btn:hover {
  background: #fff;
  color: #fcb427;
}

.consul__name:focus {
  outline: #fcb427 3px solid;
  border: none;
}
.consul__tel:focus {
  outline: #fcb427 3px solid;
  border: none;
}
