.uslugi__container {
  width: 1180px;
  margin: 0 auto;
  padding-top: 60px;
  font-family: "Montserrat";
}

.uslugi__label {
  font-size: 40px;
  font-weight: 700;
  color: #2d2d2d;
  padding-bottom: 60px;
}

.uslugi__parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
}

.uslugi__card {
  width: 100%;
  height: max-content;
  cursor: pointer;
}

.uslugi__card p {
  height: 70px;

  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #fcb427;
}

.uslugi__card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.uslugi__end__label {
  height: 160px;

  font-size: 155px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  color: #e5e5e5;
}

@media all and (max-width: 1216px) {
  .uslugi__container {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding: 40px;
    font-family: "Montserrat";
  }
  .uslugi__parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

@media all and (max-width: 768px) {
  .uslugi__end__label{
    display: none;
  }
  .uslugi__card p {
    height: 70px;
  
    padding: 7px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: #fcb427;
  }
}
@media all and (max-width: 600px) {
  .uslugi__parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .uslugi__card p {
    height: 70px;
  
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: #fcb427;
  }
}
