.uslugi__container {
  width: 1180px;
  margin: 0 auto;
  padding-top: 60px;
  font-family: "Montserrat";
}

.uslugi__label {
  font-size: 40px;
  font-weight: 700;
  color: #2d2d2d;
}

.uslugi__parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.uslugi__card {
  width: 369px;
  height: 430px;
  cursor: pointer;
}

.uslugi__card p {
  height: 70px;

  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #fcb427;
}

.uslugi__card img {
  width: 100%;
  object-fit: cover;
}

.uslugi__end__label {
  font-size: 155px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  color: #e5e5e5;
}
