.header__nav1 {
  width: 100%;
  height: 95px;

  background: #2d2d2d;
}
.header__container {
  width: 1180px;
  margin: 0 auto;
  font-family: "Montserrat";
}
.header__nav1__ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.header__nav1__ul a {
  color: #fff;
  font-weight: 400;
}

.link_logo {
  padding: 10px 0;
}
.link_item {
  padding: 30px 0;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

.link_item2 {
  display: flex;
  padding: 40px 0;
  gap: 6px;
}
.link_item2 img {
  width: 20px;
  height: 20px;
}

.link_item2 p {
  font-size: 14px;
  color: #fff;
}

.link_item3 {
  display: flex;
  gap: 2px;
}

.link_item3 img {
  width: 25px;
  height: 35px;
}

.link_item4 button {
  width: 205px;
  height: 43px;

  background: transparent;
  border: 2px solid #ffbf1d;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.link_item4 button:hover {
  background: #ffbf1d;
  color: #fff;
}

.link_item5 {
  padding: 25px 0;
}

.link_item5 a {
  display: flex;
  gap: 15px;
}

.header__nav2 {
  width: 100%;
  height: 76px;

  background: #f3f3f3;
}

.nav2__parent {
  display: flex;
  justify-content: space-between;
  height: 76px;
  align-items: center;
}

.header__nav2__ul {
  width: 80%;

  display: flex;
  justify-content: space-between;
}

.nav2__ul_link a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.side__bar .close {
  font-size: 40px;
  margin-top: 40px;
  padding: 0 40px;
  float: right;
  color: #2d2d2d;
  cursor: pointer;
}

.sidebar__btn {
  cursor: pointer;
}

.side__bar ul {
  padding: 100px 40px;
}

.side__bar ul li {
  padding: 10px 0;
  font-size: 20px;
  font-family: "Montserrat";
}

.side__bar ul li a {
  color: #2d2d2d;
  font-weight: 400;
}

.mobile__mode {
  display: none;
}

@media all and (max-width: 1216px) {
  .header__nav1__ul {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }
  .link_item4,
  .link_item3,
  .link_item2 {
    display: none;
  }
  .header__container {
    width: 100%;
    margin: auto;
    padding: 0 40px;
  }
}

@media all and (max-width: 952px) {
  .header__nav2 {
    display: none;
  }
  .mobile__mode {
    display: block;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    padding: 0 50px;
  }
  .sidebar__btn {
    background: none;
    border: none;
  }
}

@media all and (max-width: 650px) {
  .header__nav1__ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 40px;
  }
  .header__nav1 {
    width: 100%;
    height: max-content;
    padding: 20px 0;

    background: #2d2d2d;
  }
  .header__container{
    padding: 0;
    text-align: center;
  }
}


@media all and (max-width: 427px) {
  .header__nav1__ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .link_item5 a{
    justify-content: center;
  }
}
