.dark__sect {
  width: 100%;
  height: 500px;

  background: #2d2d2d;
}

.dark__sect__img {
  width: 100%;
  height: 500px;

  background: url("../../assets//images/lines.png") no-repeat center
    center/cover;
}

.dark__sect__container {
  width: 1180px;
  margin: 0 auto;
  font-family: "Montserrat";
}

.dar__sect__label {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  padding-top: 60px;
}

.dark__sect__parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.dark__sect__card {
  padding-top: 30px;
  text-align: center;
}

.dark__sect__card p {
  color: #fff;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
}
