body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.6em;
}
 
body::-webkit-scrollbar-track {
  background: none;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #6b6d6c;
  outline: 1px solid slategrey;
  border-radius: 4px;
}
