body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 13px !important;
  height: 10px;
  border: 1px solid #d5d5d5 !important;
}

::-webkit-scrollbar-track {
  border-radius: 0 !important;
  background: #eeeeee !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px !important;
  background: #9c9b9b !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #fcb427 !important;
  color: #fff !important;
}

.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
  color: #fcb427 !important;
}


input:focus{
  border: #fcb427 2px solid !important;
  outline: none;
}
